.main{
    width: fit-content;
    background-color: white;
    margin:100px auto;
    padding: 10px;
    border: 1px solid white;
    border-radius: 5px;
}
.body{
    color:#616161;
    padding: 10px;
}
.body h2{
    font-weight: lighter;
}
.list{
    margin-bottom: 10px;
    width: 480px;
}
.list a{
    color: #1976d2;
    font-size: 1.5em;
}
.list img{
    width:470px;
    height:300px;
}
.rating{
    display: flex;
    color:yellow;
    align-items: center;
}
.rating p{
    color:#616161;
}
.galery{
    position: relative;
}
.galery button{
    position: absolute;
    top: 135px;/* 300/2 - 30/2 = 135*/
    opacity: 50%;
}
.galery button:hover{
    opacity: 100%;
    cursor: pointer;
}
.arrow_right{
    right:10px;
}
.arrow_left{
    left:0px;
}
.share{
    width: fit-content;
    padding: 0;
    display: flex;
    align-items: center;
}
.share img{
    margin-left: 10px;
    width:30px;
    height: 30px;
}
.share img:hover{
    cursor: pointer;
}
.adder{
    margin-top: 10px;
}
.adder p{
    margin: 0;
}
.shower-hider{
    width:50px;
    margin-left:225px;/*500/2 - 50/2*/
    border: 1px solid red;
    background-color: red;
    border-radius: 3px;
    color:white;
}
.inputs{
    margin: 0 auto;
    width: fit-content;
    display: flex;
    flex-direction: column;
}
.inputs label{
    margin-top: 10px;
}
.inputs input{
    width: 100%;
}
.but-adder{
    width: 50px;
    margin: 10px auto;
}
.deleter{
    width: fit-content;
    margin: 0 auto;
    margin-bottom: 40px;
}
.deleter button{
    border: 1px solid red;
    border-radius: 3px;
    background-color: red;
    color: white;
}
.text{
    text-align: center;
    font-weight: lighter;
    color: #1976d2;
}